<div style="margin: auto !important">
    <app-recherche-evenement (criteres)="onRechercheSubmit($event)"></app-recherche-evenement>
</div>


<div class="evenement">
    <h1 i18n>Liste des événéments</h1>

    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="dateScrutin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date Scrutin </th>
                <td mat-cell *matCellDef="let row">
                    <a routerLink="/evenement/detail/{{row.id}}">{{row.dateScrutin | date :'yyyy-MM-dd':'UTC'}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="municipalite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Municipalité </th>
                <td mat-cell *matCellDef="let row"> {{row.municipalite.nom}} </td>
            </ng-container>

            <ng-container matColumnDef="typeEvenement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Type </th>
                <td mat-cell *matCellDef="let row"> {{row.typeEvenement}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="5"></mat-paginator>

    </div>

    <!-- <button (click)="goBack()" style="margin-top: 15px;">Retour</button> -->

</div>